.fluxo-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.5);
  background-color: #ffffff;

  h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: #007FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
  }

  h5{
    font-weight: 300;
    font-style: italic;
    color: #b0b0b0;
  }

  table{
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
  }
} 

.tabela-container {
  width: 100%;
  overflow-x: auto;
}

mat-paginator {
  width: 100%;
  display: flex;
  justify-content: center;
}
